.login-page {
    .login-header {
        font-size: 32px;
        font-weight: 700;
        color: var(--black);
    }

    .login-title {
        font-size: 28px;
        font-weight: 700;
        color: var(--gray-color);
        margin-bottom: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-box {
            width: 70%;
            position: relative;
            padding: 0 20px;
            margin-bottom: 20px;
            border: 1px solid rgb(206, 212, 218);
            border-radius: 10px;

            .input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                border: none;
                outline: none;
                background-color: transparent;
            }

            .label {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                font-size: 16px;
                color: #999;
                transition: 0.3s;
                pointer-events: none;
            }

            .input:focus + .label,
            .input:not(:placeholder-shown) + .label {
                top: 20%;
                font-size: 12px;
                color: #007bff;
            }

            .input-icon {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 22px;
                color: #999;
                transition: 0.3s;
                cursor: pointer;
            }

            .input:focus ~ .input-icon {
                top: 70%;
            }
        }

        .login-btn {
            width: 70%;
            height: 50px;
            padding: 10px;
            animation: fadeExpand 0.8s forwards;
            background: var(--blue-color);
            color: var(--white-color);
            font-size: 16px;
            border-radius: 10px;

            @keyframes fadeExpand {
                from {
                    opacity: 0;
                    width: 0%;
                }
                to {
                    opacity: 1;
                    width: 70%;
                }
            }
        }
        .remember {
            font-size: 16px;
            .form-check {
                display: flex;
                gap: 5px;
                align-items: center;
            }
        }

        .error-box {
            width: 70%;
            margin-top: 10px;
            color: red;
            font-size: 16px;
            height: 16px;
        }

        .login-links {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 15px;
        }
    }
}
