.show-modal {
    display: block !important;
    pointer-events: none !important;
    z-index: 10 !important;
}

.show-modal-dialog {
    pointer-events: auto !important;
    position: absolute !important;
    max-width: 380px !important;
    width: 100%;
    top: 8% !important;
    right: 1% !important;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0%);
}

.hide-modal-dialog {
    transform: translateX(110%);
}

.modal-header-cus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;

    .modal-title {
        font-weight: bold;
    }
}

.button-close {
    background-color: transparent;
    i {
        font-size: 1.6rem;
    }
}

.modal-body-img {
    width: 100%;
    height: auto;
}

.modal-body-info {
    font-size: 1.4rem;
    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__variant {
        display: flex;
        gap: 2%;
        span {
            color: var(--primary-color);
            font-size: 1.2rem;
        }
    }

    &__price {
        font-weight: bold;
    }
}
