.collection {
    padding: 20px 0;

    .filter {
        padding-right: 10px;

        .filter-group {
            display: flex;
            flex-direction: column;
            align-items: start;

            label {
                margin-left: 20px;
                font-size: 1.2rem;
                font-weight: 700;
            }
        }

        &-title {
            margin: 15px 0 8px;
            font-weight: 700;
            opacity: 0.5;
            font-size: 0.9rem;
        }

        &-group {
            label {
                display: block;
                margin-bottom: 6px;
                font-size: 0.9rem;

                input {
                    margin-right: 6px;
                }
            }
        }

        &-size {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6px;

            button {
                border: 1px solid #ccc;
                background: white;
                padding: 6px 0;
                border-radius: 4px;
                font-size: 12px;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background: black;
                    color: white;
                }
            }

            .active {
                background: black;
                color: white;
            }
        }

        &-color {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6px;


            .color-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                button {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    cursor: pointer;
                }


                p {
                    margin-top: 5px;
                    font-size: 12px;
                }

                .active-color {
                    border: 2px solid black;
                }
            }
        }
    }

    .product-list {

        /* PAGINATION */
        .pagination {
            margin-top: auto;
            display: flex;
            justify-content: center;
            padding: 10px 0;
            font-size: 16px;

            button {
                border: 1px solid #ccc;
                padding: 6px 12px;
                background: white;
                margin-right: 8px;
                border-radius: 6px;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background: #eee;
                }
            }

            .active {
                background-color: black;
                color: white;
                border-color: black;
            }
        }
    }


}


