.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; // đẩy Footer xuống dưới
    padding: 0 40px; // tương đương mx-5 (nếu bạn dùng bootstrap)
}
