.header {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;

    &-title {
        font-size: 70px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        background-image: linear-gradient(
            to right,
            var(--gradient-blue-start-color) 0%,
            var(--gradient-blue-end-color) 15%,
            var(--gradient-purple-color) 35%,
            var(--gradient-pink-color) 65%,
            var(--gradient-orange-start-color) 80%,
            var(--gradient-orange-end-color) 100%
        );

        -webkit-background-clip: text;
        background-clip: text;
        color: transparent !important;
    }

    &-subtitle {
        font-size: 2.4rem;
        font-weight: bold;
        color: var(--primary-color);
    }
}

.product-group {
    margin-top: 4%;
}
