.support-header {
    background-color: #f5f5f7;
    padding: 30px 40px;
    border-radius: 10px;
    
    h3 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 5px;
    }

    p {
        margin: 0;
        color: #666;
        font-size: 1.1rem;
    }
}

.support-menu {
    .menu-item {
        padding: 15px 20px;
        background-color: #f5f5f7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        margin-bottom: 10px;
        transition: 0.2s;
        font-size: 16px;
        font-weight: 500;
        color: #333;

        .icon-left {
            width: 20px;
            margin-right: 10px;
        }

        &:hover {
            background-color: #e0e0e0; // Hover nhẹ hơn màu đen để phân biệt với Active
            cursor: pointer;
        }

        // Trạng thái đang chọn
        &.active {
            background-color: #000;
            color: #fff;
        }
    }
}

.support-content {
    padding: 30px 40px;
    background-color: #f5f5f7;
    border-radius: 8px;
    font-size: 16px;
    min-height: 400px; // Đảm bảo khung nội dung luôn có chiều cao tối thiểu

    h2 {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 25px;
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 15px;
    }

    .info-block {
        margin-bottom: 20px;

        h4 {
            font-size: 1.1rem;
            font-weight: 700;
            margin-bottom: 5px;
        }

        p {
            color: #555;
            line-height: 1.5;
        }
    }

    .info-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: 1px dashed #d0d0d0;
        padding-bottom: 10px;

        &:last-child {
            border-bottom: none;
        }

        p {
            margin: 0;
        }

        .highlight {
            font-weight: 700;
            color: #2f5acf;
            font-size: 1.1rem;
        }
    }

    .btn-contact {
        background-color: #000;
        color: #fff;
        padding: 12px 25px;
        border-radius: 5px;
        border: 1px solid black;
        margin-top: 20px;
        font-weight: 600;
        transition: 0.2s;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
}