.link-wrapper {
    text-decoration: none;
    display: block;
}

.card-product {
    overflow: hidden;
    border-radius: 10px !important;
    transition: box-shadow 0.25s ease;

    &:hover {
        .card-img-top {
            transform: scale(1.03);
        }
    }

    .card-img-top {
        width: 100%;
        height: 70%;
        object-fit: cover;
        transition: transform 0.35s ease;
    }

    .card-body {
        height: 30%;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-color {
            display: flex;
            gap: 6%;
        }

        .card-name {
            color: var(--primary-color);
            padding: 2% 0 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                color: blue;
            }
        }

        .card-price {
            display: flex;
            gap: 2%;

            .card-cur-price {
                font-size: 1.3rem;
                font-weight: bold;
                color: var(--primary-color);
            }

            .card-discount-percent {
                font-size: 1.1rem;
                padding: 1px 4px 0px;
                font-weight: bold;
                border-radius: 16px;
                color: var(--white-color);
                background-color: var(--blue-color);
            }

            .card-origin-price {
                font-size: 1.1rem;
                font-weight: normal;
                color: var(--default-gray-color);
                text-decoration: line-through;
            }
        }
    }
}
