.detail-order-history {
    font-size: 14px;

    .order-status {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        margin-bottom: 40px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &:after {
            content: "";
            position: absolute;
            width: 5px;
            height: 100%;
            top: 100%;
            left: 50%;
            background-color: red;
            transform: translateX(-50%);
        }

        &:last-child:after {
            display: none;
        }

        .timeLine {
            width: 190px;
            text-align: center;
            font-size: 14px;
            color: #555;
        }

        .info {
            flex: 1;
            margin-left: 16px;
            font-size: 14px;
            color: #333;
            line-height: 1.5;
            text-align: end;
        }
    }

    .product-table-container {
        margin: 20px 0;
        overflow-x: auto;

        .product-table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 10px;
            overflow: hidden;
            background-color: #f9f9f9;

            th,
            td {
                padding: 12px;
                font-size: 14px;
                text-align: center;
                vertical-align: middle;
            }

            th {
                font-weight: bold;
                color: var(--black-color);
                background: var(--white-color);
            }

            tr {
                transition: background-color 0.2s ease;

                &:hover {
                    background-color: #fafafa;
                }
            }
        }
    }

    .product-image {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: block;
        margin: 0 auto;
    }

    h3, h4 {
        text-align: center;
    }
}
