.toggleBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  background-color: #e0e0e0; 
  color: #333;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
  }

  &.dark {
    background-color: #333;
    color: #fff;
    border: 3px solid #555;
  }

  .icon {
    font-size: 1.2rem;
  }


}