:root {
    --primary-color: #333333;
    --white-color: #fff;
    --black-color: #000000;
    --blue-color: #0071e3;
    --bg-light-color: #e5e5e5;
    --gray-color: #494949;

    --gradient-blue-start-color: #337ae5;
    --gradient-blue-end-color: #408fe5;

    --gradient-orange-start-color: #d4734a;
    --gradient-orange-end-color: #ea6b2e;

    --light-gray-color: #f0f0f0;
    --default-gray-color: #999999;
    --dark-gray-color: #6e6e73;

    --shadow-dark-color: rgba(0, 0, 0, 0.15);
    --shadow-light-color: rgba(255, 255, 255, 0.5);
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    font-family:
        SF Pro Text,
        SF Pro Icons,
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    display: block;

    &:hover {
        text-decoration: none;
    }
}
button {
    border: none;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 70.5%;
}

body {
    font-size: 2.6rem;
}

#root {
    min-height: 100vh;
}
