:root {
  --primary-color: #333333;
  --white-color: #fff;
  --black-color: #000000;
  --blue-color: #3449dc;
  --bg-light-color: #e5e5e5;

  --gradient-blue-start-color: #337ae5;
  --gradient-blue-end-color: #408fe5;

  --gradient-orange-start-color: #d4734a;
  --gradient-orange-end-color: #ea6b2e;

  --light-gray-color: #f0f0f0;
  --default-gray-color: #999999;
  --dark-gray-color: #6e6e73;

  --shadow-dark-color: rgba(0, 0, 0, 0.15);
  --shadow-light-color: rgba(255, 255, 255, 0.5);
}

html,
body {
  background-color: var(--bg-light-color);
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 70.5%;
}

body {
  font-size: 2.6rem;
}

#root {
  min-height: 100vh;
}
