.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.scroll-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; // native smooth
    gap: 16px;
    padding: 16px 0;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white-color);
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
}
