.link-wrapper {
    text-decoration: none;
    display: block;
    width: 14rem;
}

.card-product {
    width: 14rem;
    height: 14rem;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
    &:hover {
        .card-img {
            transform: scale(1.06);
        }
    }
}

.card-img {
    transition: transform 0.3s ease;
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.card-name {
    text-align: center;
    padding-top: 4px;
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
