.collection {
    padding: 20px 0;

    .filter {
        padding-right: 10px;

        .filter-group {
            display: flex;
            flex-direction: column;
            align-items: start;

            label {
                margin-left: 20px;
                font-size: 1.2rem;
                font-weight: 700;
            }
        }

        &-title {
            margin: 15px 0 8px;
            font-weight: 700;
            opacity: 0.5;
            font-size: 0.9rem;
        }

        &-group {
            label {
                display: block;
                margin-bottom: 6px;
                font-size: 0.9rem;

                input {
                    margin-right: 6px;
                }
            }
        }

        &-size {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6px;

            button {
                border: 1px solid #ccc;
                background: white;
                padding: 6px 0;
                border-radius: 4px;
                font-size: 12px;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background: black;
                    color: white;
                }
            }

            .active {
                background: black;
                color: white;
            }
        }

        &-color {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6px;


            .color-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                button {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    cursor: pointer;
                }


                p {
                    margin-top: 5px;
                    font-size: 12px;
                }

                .active-color {
                    border: 2px solid black;
                }
            }
        }
    }

    .product-list {


        /* PAGINATION */
        .pagination {
            margin-top: auto;
            display: flex;
            justify-content: center;
            padding: 10px 0;
            font-size: 16px;

            button {
                border: 1px solid #ccc;
                padding: 6px 12px;
                background: white;
                margin-right: 8px;
                border-radius: 6px;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background: #eee;
                }
            }

            .active {
                background-color: black;
                color: white;
                border-color: black;
            }
        }
    }

    /* ======================
       PRODUCT CARD
    ====================== */
    .card {
        margin-bottom: 25px;

        &-img {
            position: relative;

            img {
                width: 100%;
                height: 330px;
                border-radius: 16px;
                object-fit: cover;
            }

            .card-size {
                position: absolute;
                top: 100%;
                left: 50%;
                width: 80%;
                transform: translate(-50%, -110%);
                background: rgba(220, 220, 220, 0.9);
                padding: 8px;
                border-radius: 10px;
                display: none;
                flex-wrap: wrap;
                gap: 6px;

                button {
                    border: 1px solid #ccc;
                    background: white;
                    border-radius: 4px;
                    padding: 4px 8px;
                    font-size: 12px;
                }
            }

            &:hover .card-size {
                display: flex;
            }
        }

        &-color {
            margin: 6px 0;
            display: flex;

            button {
                width: 44px;
                height: 22px;
                border-radius: 10px;
                margin-right: 6px;
                cursor: pointer;
                padding: 2px;
                border: 2px solid rgb(93 108 218);
            }
        }

        &-name {
            font-weight: 700;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 6px;
        }

        &-price {
            display: flex;
            align-items: center;
            gap: 8px;

            .price {
                font-size: 12px;
                font-weight: 800;
            }

            .discount {
                background: #273bcd;
                color: white;
                padding: 2px 6px;
                border-radius: 4px;
                font-size: 12px;
            }

            .old {
                text-decoration: line-through;
                font-size: 12px;
                color: #999;
            }
        }
    }
}


